<div class="form-group" [formGroup]="this.registerForm">
  <input
    type="password"
    [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
      && registerForm.get('confirmPassword').touched
      || registerForm.get('confirmPassword').touched
      && registerForm.hasError('passwordsMismatch')}"
    class="form-control"
    formControlName="confirmPassword"
    placeholder="Confirm Password">
  <div class="invalid-feedback"
    *ngIf="registerForm.get('confirmPassword').hasError('required')
      && registerForm.get('confirmPassword').touched">Confirm Password value is required</div>
  <div class="invalid-feedback"
    *ngIf="registerForm.hasError('passwordsMismatch')
      && registerForm.get('confirmPassword').touched">Passwords must match</div>
</div>