<div class="row mt-3">
  <button
    class="btn btn-default"
    type="button"
    (click)="cancel()">
      Cancel
  </button>
  <img src="assets/learn_more.jpg" alt="stock_photo" id="learn-more-stock-image">
  <div class="mt-2">
    <h5>About the author ...</h5>
    <p>
      Oisín ('Ush') is an Irish developer, who has worked with companies in his home country, Sweden and Canada. <br/>
      This app is meant to serve as a bit of fun and to show off a snippet of what I have learned along the way.
    </p>
    <p>For those interested, this was written using .NET Core 3 and Angular 8.</p>
    <p>
      Some other apps of mine worth checking out are my
      <a href="https://oisinfoley.github.io/recipe-book-manager/" target="_blank" rel="noopener noreferrer">
        Recipe Book Manager
      </a>,
      and
      <a href="http://www.developer-connector-mern.com/" target="_blank" rel="noopener noreferrer">
        Developer Connector
      </a>
      apps.
    </p>
    <p>
      If you have any questions, feedback or just want to get in touch, you can contact me at:
      <span><i><u>oisinfoley@yahoo.co.uk</u></i></span>
    </p>
  </div>
</div>
