<form [formGroup]="registerForm" (ngSubmit)="register()" >
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <app-register-gender [registerForm]="registerForm"></app-register-gender>
  <app-register-known-as [registerForm]="registerForm"></app-register-known-as>
  <app-register-date-of-birth [registerForm]="registerForm" [bsConfig]="bsConfig"></app-register-date-of-birth>
  <app-register-city [registerForm]="registerForm"></app-register-city>
  <app-register-country [registerForm]="registerForm"></app-register-country>
  <app-register-username [registerForm]="registerForm"></app-register-username>
  <app-register-password [registerForm]="registerForm"></app-register-password>
  <app-register-confirm-password [registerForm]="registerForm"></app-register-confirm-password>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      [disabled]="!registerForm.valid"
      title="{{ !registerForm.valid ? 'Provide valid values to all form inputs to enable this button' : ''}}"
      type="submit">
        Register
    </button>
    <button
      class="btn btn-default"
      type="button"
      (click)="cancel()">
        Cancel
    </button>
  </div>
</form>