<div class="form-group" [formGroup]="this.registerForm">
  <input
    type="password"
    [ngClass]="{'is-invalid': registerForm.get('password').errors
      && registerForm.get('password').touched}"
    class="form-control"
    formControlName="password"
    placeholder="Password">
  <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('required')
      && registerForm.get('password').touched">Password is required</div>
  <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('minlength')
      && registerForm.get('password').touched">Password must be at least 8 characters long</div>
  <div class="invalid-feedback"
    *ngIf="registerForm.get('password').hasError('maxlength')
      && registerForm.get('password').touched">Password cannot be longer than 32 characters in length</div>
</div>