<div class="form-group" [formGroup]="this.registerForm">
  <input
  class="form-control"
  placeholder="Date of Birth"
  formControlName="dateOfBirth"
  type="text"
  bsDatepicker [bsConfig]="bsConfig"
  [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors
    && registerForm.get('dateOfBirth').touched}">
  <div
    class="invalid-feedback"
    *ngIf="registerForm.get('dateOfBirth').touched
      && registerForm.get('dateOfBirth').hasError('required')">
        Date of Birth is required
  </div>
</div>